
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbreviation = "en" }, null)</li>
    <li>@Html.ActionLink("Spanish", "Change", "Language", new { LanguageAbbreviation = "es" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>