
@{
    ViewBag.Title = "Consecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consecutivos</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="rol_laboratorio" class="control-label col-xs-4">Lista de consecutivos</label>
        <div class="col-xs-8">
            <!--Table-->
            <table id="tablePreview" class="table">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Consecutivos</th>
                        <th></th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Cientifico</td>
                        <td>2</td>
                        <td>@Html.ActionLink("Editar", "ConsecutivosEditar", "Seguridad")</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Asistente</td>
                        <td>255</td>
                        <td>@Html.ActionLink("Editar", "ConsecutivosEditar", "Seguridad")</td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
            @Html.ActionLink("Crear", "ConsecutivosCrear", "Seguridad")
        </div>
    </div>
</form>