
@{
    ViewBag.Title = "RestrictedAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: red">El accesso del usuario es restringido para esta pagina, por favor vuelva a la pagina anterior</h1>

