@model ProyectoBitacorasCientificas.Models.Bitacora

@{
    ViewBag.Title = "BitacoraCientificaDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BitacoraCientificaDetail</h2>

<p>@Model.nombreExperimento</p>
<p>@Model.Fecha</p>
<p>@Model.precio</p>
<p>@Model.Proyectos.nombre</p>


