@using System.Web.Mvc.Html
@model ProyectoBitacorasCientificas.ViewModels.SelectBitacoras

@{
    ViewBag.Title = "BitacorasList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BitacorasList</h2>
@using (Html.BeginForm("BitacoraCientificaDetail", "Administracion"))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Bitacora.nombreExperimento)
        @Html.DropDownListFor(m => m.Bitacora.nombreExperimento,
            new SelectList(
                Model.Bitacoras,
                "id",
                "nombreExperimento"),
            new { @class = "form-control" })
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        $(function () {
            $("#submit").click(function () {
                var href = $(this).attr("href");
                var selectedValue = parseInt($('#Bitacora_nombreExperimento option:selected').val());
                var route = href + "?id=" + selectedValue;
                $(this).attr("href", route);
            });
        });

    </script>
    <a id="submit" class="btn btn-default" href="@Url.Action("BitacoraCientificaDetail", "Administracion")">Seleccionar este experimento</a>
</form>
} 
