@using System.Web.Mvc.Html


<h3> Editar Consecutivo</h3>
@using (Html.BeginForm("RamasCientificasEditarConsecutivo", "Administracion"))
{
    <input type="text" name="id" type="number"  />
    <input type="submit" class="btn btn-primary" />
}
